prune tests
prune test
prune testing
prune examples
prune example
prune samples
prune sample
prune .github
prune .pytest_cache
prune .mypy_cache
prune .ruff_cache
exclude .env
exclude .env.*
exclude .pypirc
exclude *.pem
exclude *.key
exclude id_rsa*
exclude id_ed25519*
